<!DOCTYPE html>
<html><head> 
    <title>RDSO Project</Title>
        <style>
            body{  
                font-family: Calibri, Helvetica, sans-serif;  
                background:#59b0d8 ;  
        }
        a{
            
            background-color:rgb(221, 162, 217);  
            color: black;  
            padding: 16px 20px;  
            margin-left:17rem;  
            border: solid;  
            cursor: pointer;  
            width:20%;  
            opacity: 1;
        }
    </style>
</head>
<body>

<h1>RDSO Project</h1>
<p>by siddhima</p>

<a href ="service/signup"> Signup</a>
<a href ="loginservice/login"> Login</a>
</body>
</html> 