<!DOCTYPE html>
<html><head> 
    <title>Login</Title>
        <style>
            body{
                font-family: Calibri, Helvetica, sans-serif;  
            background:#59b0d8 ;  
            }
            form{
                color: black;  
                padding: 10px 2px;  
                margin-left:3rem;  
                border: solid;  
                 
                width:30%;  
                opacity: 1;
            }
        </style>
</head>
<body>

<h1>Login</h1>

<form action= "login" method="POST">
    {% csrf_token %}
    User Name:<input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    <input type="submit">

</form>
</body>
</html>