<!DOCTYPE html>
<html><head> 
    <title>Signup Form</Title>
        <style>
            body{
                font-family: Calibri, Helvetica, sans-serif;  
                background:#59b0d8 ;   
            }
            form{
                color: black;  
            padding: 10px 2px;  
            margin-left:3rem;  
            border: solid;  
             
            width:30%;  
            opacity: 1;  
            }
        </style>
</head>
<body>

<h1>Signup Form</h1>

<form action= "signup" method="POST">
    {% csrf_token %}
    User Name:<input type="text" name="username" Required><br>
    First Name:<input type="text" name="first_name" Required><br>
    Last Name:<input type="text" name="last_name" Required><br>
    Email-id:<input type="email" name="email_id" Required><br>
    Password:<input type="password" name="password" Required><br>
    Confirm Password:<input type="password" name="password2" Required><br>
    <div class="form-group"><br>
        <label for="cars">Choose your Department in RDSO:</label>
        <select name="tech" id="tech" class="form-control">
        <option value="IT">Research and testing</option>
        <option value="CS">Infra</option>
        <option value="MT">Rolling Stock </option>
        <option value="EE">Traction and power supply</option>
        <option value="CV">Signal an telecommunication</option>
        <option value="MC">Traffic and psychology</option>
        </select>
    </div><br>
    <div class="form-group"><br>
        <label for="phone">Enter your phone number:</label>
        <input type="tel" id="phone" class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
    </div><br>
    <div class="form-group">
        <label for="bdaymonth">Date of Birth (month and year):</label>
        <input type="month" class="form-control" id="bdaymonth" name="bdaymonth">
    </div><br>
    
    <div class="form-group">
        <label for="gen">Gender</label>
        <br>
        <input type="radio" id="Male" name="gender" value="Male">
        <label for="male">Male</label><br>
        <input type="radio" id="Female" name="gender" value="Female">
        <label for="female">Female</label><br>
        <input type="radio" id="others" name="gender" value="others">
        <label for="others">others</label>
    </div><br>
    <div class="form-group">
        <label for="exp">How long have you been working in RDSO?</label><br>
        <input type="checkbox" id="exp1" name="exp1" value="nc"> 
        <label for="exp1"> New here!</label><br>
        <input type="checkbox" id="exp2" name="exp2" value="mt6m">
        <label for="exp2">Been here for more than 6 months!!</label><br>
        <input type="checkbox" id="exp3" name="exp3" value="mt1y">
        <label for="exp3">Been here for more than 1 year!!</label>
    </div>
    <div class="form-group"><br>
        <label for="myfile">Select your photo:</label>
        <input type="file" class="form-control" id="myfile" name="myfile">
    </div><br>
    <input type="submit">

</form>
</body>
</html>